voila
earthengine-api

sepal_ui==2.19.0

# In sepal this will be skipped. It is installed by deefault

numpy==1.26.0
geopandas==0.14.0

# Fix this version to avoid Index64 error while exporting gpd
pandas==1.5.3
requests==2.31.0
Shapely==2.0.1