jupyter
voila
earthengine-api

# Change this line until sepal_ui is >2.16.4
# Widgets versions will be handled by sepal_ui
git+https://github.com/12rambau/sepal_ui.git@5277a82db3fe4e5bb971eb6676b28d9652b90564

# In sepal this will be skipped. It is installed by deefault

numpy==1.26.0
geopandas==0.14.0

# Fix this version to avoid Index64 error while exporting gpd
pandas==1.5.3
requests==2.31.0
Shapely==2.0.1