# these libs are requested to build application env
# jupyter
# voila
toml

# the base lib to run any sepal_ui based app
# don't forget to fix it to a specific version when you're app is ready
git+https://github.com/12rambau/sepal_ui.git@5277a82db3fe4e5bb971eb6676b28d9652b90564

# requirement already satisfied when venv installation
# earthengine-api

# custom libs
ipyvuetify==1.8.1
ipywidgets==7.6.5

numpy
geopandas

# Fix this version to avoid Index64 error while exporting gpd
pandas==1.5.3

requests
Shapely
shapely_geojson
traitlets
ipyleaflet